<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134926510926-qbo5q39ht6jk7dj012pv8ln04ekquan5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134926510926-qbo5q39ht6jk7dj012pv8ln04ekquan5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>134926510926-5j3ttkhul4srcedi3jseb23ng3cb1ejq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBAbwraXQCg9SeaElgWwKg-GXfbDYUzLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>134926510926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agenda-zap</string>
	<key>PROJECT_ID</key>
	<string>agendazap-eb4ea</string>
	<key>STORAGE_BUCKET</key>
	<string>agendazap-eb4ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134926510926:ios:2620c896b5cdbfaf94cc1f</string>
	<key>DATABASE_URL</key>
	<string>https://agendazap-eb4ea.firebaseio.com</string>
</dict>
</plist>